{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "lw"
  ],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "es6": true
  },
  "rules": {
    "brace-style": [
      2,
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "camelcase": [
      2,
      {
        "properties": "never"
      }
    ],
    "comma-style": [
      2,
      "last"
    ],
    "consistent-this": [
      2,
      "self"
    ],
    "indent": [
      2,
      2
    ],
    "no-console": 1,
    "consistent-return": 0,
    "new-cap": 0,
    "no-alert": 0,
    "no-var": 2,
    "no-underscore-dangle": 0,
    "object-shorthand": 2,
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    "react/jsx-quotes": [2, "double", "avoid-escape"],
    "react/jsx-no-undef": 2,
    "react/no-did-mount-set-state": 2,
    "react/jsx-sort-prop-types": 2,
    "react/prop-types": 1,
    "react/jsx-uses-react": 1,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 1,
    "react/no-unknown-property": 2,
    "react/self-closing-comp": 2,
    "react/wrap-multilines": 2,
    "react/sort-comp": [2, {
      "order": [
        "mixins",
        "propTypes",
        "defaultProps",
        "getDefaultProps",
        "contextTypes",
        "state",
        "constructor",
        "everything-else",
        "lifecycle",
        "rendering"
      ],
      "groups": {
        "rendering": [
          "/^render.+$/",
          "render"
        ]
      }
    }],
    "semi": [
      2,
      "always"
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      "always"
    ],
    "space-in-brackets": [
      2,
      "never"
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "strict": 0
  }
}
